<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/allTests.css">
    
    <title>All Test Results</title>
    <script>
        
        const quizAnalytics = <%- JSON.stringify(quizAnalytics) %>;
        console.log('Loaded quizAnalytics:', quizAnalytics); // Debugging
    </script>
    
    
</head>
<body>
    <div class="container">
        <h1 style="color: white;">All Test Results for <%= room.name %></h1>
        <a href="/admin/dashboard/<%= room._id %>" class="btn btn-secondary mb-3">Back to Dashboard</a>

        
        <% quizAnalytics.forEach(quiz => { %>
            <% if (quiz.dataAvailable) { %>
                <div class="quiz-analytics my-4">
                    <p>Quiz ID: <%= quiz._id %>
                    <h3><%= quiz.quizTitle %></h3>
                    <div class="d-flex">
                        <div class="stat-box mr-3">
                            <strong>Average</strong>
                            <p><%= quiz.averageScore %> / <%= quiz.totalScore %> points</p>
                        </div>
                        <div class="stat-box mr-3">
                            <strong>Median</strong>
                            <p><%= quiz.medianScore %> / <%= quiz.totalScore %> points</p>
                        </div>
                        <div class="stat-box">
                            <strong>Range</strong>
                            <p><%= quiz.range %></p>
                        </div>
                    </div>
                    <canvas id="chart-<%= quiz.quizTitle.replace(/\s+/g, '-') %>" width="400" height="200"></canvas>
        
                    <!-- "Overall Summary" button -->
                    <a href="/admin/overallSummary/<%= quiz._id %>" class="btn btn-info mt-3">Overall Summary</a>



                </div>
            <% } else { %>
                <p style="color: white;">No data available for <%= quiz.quizTitle %></p>
            <% } %>
        <% }); %>
        
    </div>

    <!-- Chart.js for rendering charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/dashboard.js"></script>

</body>
</html>
