<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/lesson.css">
    <title>Lesson</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid p-0">
        <div class="upper-side row no-gutters p-3" style="background-color: #E0F4F9;">
            <aside class="col-md-2 sidebar section greeting-text p-2 font-weight-bold text-muted" style="background-color: #E0F4F9;">
                Hello <img src="/assets/settings-1.svg" alt="Settings" class="img-fluid">
            </aside>
            <main class="col-md-8 bg-main section">
                <select class="form-control mr-2">
                    <option value="">Select Level</option>
                    <script>
                        for (let i = 1; i <= 30; i++) {
                            document.write(`<option value="level${i}.html">Level ${i}</option>`);
                        }
                    </script>
                </select>
            </main>
            <div class="col-md-2 bg-right-side section">
                <select class="form-control">
                    <option value="">Select Week</option>
                    <script>
                        for (let i = 1; i <= 6; i++) {
                            document.write(`<option value="week${i}.html">Week ${i}</option>`);
                        }
                    </script>
                </select>
            </div>
        </div>

        <div class="containers row">
            <aside class="col-md-1 sidebar text-center p-3" style="height: 700px;">
                <nav>
                    <ul class="list-unstyled">
                        <li style="margin-bottom: 35px;">
                            <a href="/admin/dashboard/<%= room._id %>" class="text-dark">
                                <img src="/assets/homebut.png" alt="Home Button" style="width: 60px; height: 60px; display: block; margin: 0 auto;">
                                Dashboard
                            </a>
                        </li>
                        <li style="margin-bottom: 35px;">
                            <a href="/admin/lesson/<%= room._id %>" class="text-dark font-weight-bold" style="background-color: #FFDF9F; padding: 10px; border-radius: 5px;">
                                <img src="/assets/lessonbut.png" alt="Lesson Button" style="width: 60px; height: 60px; display: block; margin: 0 auto;">
                                Lesson
                            </a>
                        </li>
                        <li style="margin-bottom: 35px;">
                            <a href="/admin/activities/<%= room._id %>" class="text-dark">
                                <img src="/assets/activitiesbut.png" alt="Activities Button" style="width: 70px; height: 70px; display: block; margin: 0 auto;">
                                Activities
                            </a>
                        </li>
                        <li style="margin-bottom: 35px;">
                            <a href="/admin/educGames/<%= room._id %>" class="text-dark">
                                <img src="/assets/educgamesbut.png" alt="Educational Games Button" style="width: 70px; height: 70px; display: block; margin: 0 auto;">
                                Educational Games
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <main class="col-md-11">
                <div class="d-flex align-items-center mb-4">
                    <img src="/assets/grid.svg" alt="Grid" class="mr-2" style="width: 20px; height: 20px;">
                    <h4 class="font-weight-bold mb-0 text-dark">Lesson</h4>
                </div>
                <div id="lessonRoomList" class="mb-4">
                    <h5>Existing Lesson Rooms</h5>
                    <ul class="list-group d-flex flex-row flex-wrap">
                        <% 
                        const buttonColors = ["#F9B4AB", "#CECBEC", "#FFDF9F", "#C1EAF4"];
                        lessonRooms.forEach(function(lessonRoom, index) { 
                            const buttonColor = buttonColors[index % buttonColors.length];
                        %>
                            <li class="list-group-item d-flex align-items-center mr-2 clickable" data-room-id="<%= lessonRoom._id %>" style="background-color: <%= buttonColor %>;">
                                <strong class="mr-2"><%= lessonRoom.subject %></strong> <%= lessonRoom.topic %>
                                <img src="/assets/english-4.svg" alt="English Icon" class="ml-2" style="width: 40px;">
                            </li>
                        <% }); %>
                    </ul>
                </div>
                
                <div id="lessonRoomContent" class="big-box" style="display: none;">
                    <div class="button-container">
                        <button id="moduleButton" class="btn btn-primary">Module</button>
                        <button id="fileButton" class="btn btn-primary">Video</button>
                    </div>
                </div>

                <div id="uploadBox" class="mt-4" style="display: none;">
                    <div id="moduleContent" style="display: none;">
                        <h5 class="text-dark">Upload PDF</h5>
                        <form id="uploadPdfForm" action="/admin/upload-pdf/<%= room._id %>" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="roomId" id="pdfRoomId" value="">
                            <div class="form-group">
                                <label for="pdfFile">Choose PDF file:</label>
                                <input type="file" name="pdfFile" class="form-control-file" id="pdfFile" accept=".pdf" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload PDF</button>
                        </form>
                        <div class="lesson-content">
                            <h3>Uploaded PDFs</h3>
                            <ul id="uploadedPdfs"></ul>
                        </div>
                    </div>

                    <div id="fileContent" style="display: none;">
                        <h5 class="text-dark">Upload Video</h5>
                        <form id="uploadVideoForm" action="" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="roomId" id="videoRoomId" value="">
                            <div class="form-group">
                                <label for="videoFile">Choose MP4 video:</label>
                                <input type="file" name="videoFile" class="form-control-file" id="videoFile" accept=".mp4" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload Video</button>
                        </form>
                        <div class="lesson-content">
                            <h3>Uploaded Videos</h3>
                            <ul id="uploadedVideos"></ul>
                        </div>
                    </div>
                </div>

                <div class="layered-container">
                    <div class="background-image"></div>
                    <div class="form-overlay">
                        <h5>Create a New Lesson Room</h5>
                        <form id="createLessonRoomForm" action="/admin/create-lesson-room/<%= room._id %>" method="POST">
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter subject" required>
                            </div>
                            <div class="form-group">
                                <label for="topic">Topic</label>
                                <input type="text" class="form-control" id="topic" name="topic" placeholder="Enter topic" required>
                            </div>
                            <button type="submit" class="btn btn-primary" style="border-radius: 25px;">Create Room</button>
                        </form>
                    </div>
                </div>
<<<<<<< HEAD
=======

                <!-- Display existing lesson rooms dynamically -->
                <div id="lessonRoomList" class="mb-4">
                    <h5>Existing Lesson Rooms</h5>
                    <ul class="list-group d-flex flex-row flex-wrap">
                        <% lessonRooms.forEach(function(lessonRoom, index) { %>
                            
                            <li class="list-group-item d-flex align-items-center mr-2 clickable" data-room-id="<%= lessonRoom._id %>">
                              
                                 <strong class="mr-2"><%= lessonRoom.subject %> <%= lessonRoom.topic %></strong>  

                                <img src="/assets/english-4.svg" alt="English Icon" class="ml-2" style="width: 40px;">
                            </li>
                        <% }); %>
                    </ul>
                </div>

                <!-- Hidden content section that will be shown upon clicking a lesson room -->
                <div id="lessonRoomContent" class="big-box" style="display: none;">
                    <div class="content-wrapper">
                        <div class="left-content"> 
                            <h5 class="text-dark">Upload PDF</h5>
                            <form id="uploadPdfForm" action="/admin/upload-pdf/<%= room._id %>" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="roomId" id="pdfRoomId" value="">
                                <div class="form-group">
                                    <label for="pdfFile">Choose PDF file:</label>
                                    <input type="file" name="pdfFile" class="form-control-file" id="pdfFile" accept=".pdf" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Upload PDF</button>
                            </form>
                            
                            <div class="lesson-content">
                                <!-- Placeholder for dynamically loaded PDFs -->
                                <h3>Uploaded PDFs</h3>
                                <ul id="uploadedPdfs"></ul>
                            </div>
                        </div>

                         <!-- PDF Preview Modal -->
                         <div id="pdfModal" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closePdfModal()">&times;</span>
                                <iframe id="pdfViewer" src="" width="100%" height="100%"></iframe>
                              
                            </div>
                            <div class="arrow-box-container">
                                
                                <a href="/admin/activities/<%= room._id %>" class="arrow-text">would you like to take a Quiz </a>
                            </div>
                        </div>
                        
                        <div class="right-content">
                            <h5 class="text-dark">Upload Video</h5>
                            <form id="uploadVideoForm" action="" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="roomId" id="videoRoomId" value="">
                                <div class="form-group">
                                    <label for="videoFile">Choose MP4 video:</label>
                                    <input type="file" name="videoFile" class="form-control-file" id="videoFile" accept=".mp4" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Upload Video</button>
                            </form>
                            
                            <div class="lesson-content">
                                <!-- Placeholder for dynamically loaded videos -->
                                <h3>Uploaded Videos</h3>
                                <ul id="uploadedVideos"></ul>
                               

                            </div>
                        </div>
                    </div>
                </div>
>>>>>>> 105a85d85ef0b1c3e8ffd012cbd6e92220919f9a
            </main>
        </div>

        <script>
<<<<<<< HEAD
            function adjustUploadBoxHeight() {
                const uploadBox = document.getElementById('uploadBox');
                const moduleContent = document.getElementById('moduleContent');
                const fileContent = document.getElementById('fileContent');

                const newHeight = Math.max(
                    moduleContent.offsetHeight + fileContent.offsetHeight + 40,
                    150
                );

                uploadBox.style.height = `${newHeight}px`;
            }

            function updateUploadedFiles() {
                adjustUploadBoxHeight();
            }

            $('#uploadPdfForm').submit(function(event) {
                event.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        alert('PDF uploaded successfully!');
                        const pdfList = document.getElementById('uploadedPdfs');
                        pdfList.innerHTML = '';
                        response.pdfFiles.forEach(function(pdf) {
                            const listItem = document.createElement('li');
                            listItem.innerHTML = `<a href="/admin/pdf/${pdf.pdfFileId}" target="_blank">${pdf.pdfFileName}</a>`;
                            pdfList.appendChild(listItem);
                        });
                        updateUploadedFiles();
                    },
                    error: function(error) {
                        alert('Error uploading PDF.');
                    }
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('.clickable').forEach(function (roomElement) {
                    roomElement.addEventListener('click', async function () {
                        const roomId = this.getAttribute('data-room-id');
                        const lessonRoomContent = document.getElementById('lessonRoomContent');
                        lessonRoomContent.style.display = 'block';

                        const createLessonRoomContainer = document.querySelector('.layered-container');
                        createLessonRoomContainer.style.display = 'none';

=======
            // Function to send PDF progress to the server and update display in real-time
            function savePdfProgress(userId, pdfFileId, progress) {
                return fetch('/admin/lesson/pdf-progress', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ userId, pdfFileId, progress })
                })
                .then(response => response.ok ? response.json() : Promise.reject('Failed to save progress'))
                .then(data => {
                    if (data.success) {
                        // Update the progress display in the list immediately
                        const progressElement = document.getElementById(`progress_${pdfFileId}`);
                        if (progressElement) {
                            progressElement.textContent = `Progress: ${progress}%`;
                        }
                    }
                })
                .catch(error => console.error('Error saving progress:', error));
            }
    
            // Function to open the PDF modal and track progress by scrolling
            function openPdfModal(pdfUrl, pdfFileId, userId) {
                // Display the modal with the PDF content
                const pdfViewer = document.getElementById("pdfViewer");
                pdfViewer.src = pdfUrl;
                document.getElementById("pdfModal").style.display = "block";
    
                // Save initial progress as 100% upon opening if it’s not already full
                savePdfProgress(userId, pdfFileId, 100);
    
                // Track scroll progress within the modal
                pdfViewer.onload = function () {
                    const scrollHandler = () => {
                        const totalHeight = pdfViewer.contentDocument.documentElement.scrollHeight - pdfViewer.clientHeight;
                        const scrolled = pdfViewer.contentDocument.documentElement.scrollTop;
                        const progress = Math.min((scrolled / totalHeight) * 100, 100); // Cap at 100%
    
                        // Save and update display if scrolled to 100%
                        if (progress === 100) {
                            savePdfProgress(userId, pdfFileId, 100).then(() => {
                                pdfViewer.removeEventListener('scroll', scrollHandler);
                            });
                        }
                    };
    
                    // Attach the scroll event handler to track progress
                    pdfViewer.contentDocument.addEventListener('scroll', scrollHandler);
                };
            }
    
            // Function to close the PDF modal
            function closePdfModal() {
                document.getElementById("pdfModal").style.display = "none";
                document.getElementById("pdfViewer").src = ""; // Clear src to stop loading
            }
    
        
            // Function to load PDFs and Videos dynamically and display progress for PDFs
            async function loadLessonFiles(roomId, userId) {
                const pdfList = document.getElementById('uploadedPdfs');
                const videoList = document.getElementById('uploadedVideos'); // For displaying uploaded videos
                pdfList.innerHTML = ''; // Clear the PDF list
                videoList.innerHTML = ''; // Clear the Video list

                try {
                    const response = await fetch(`/admin/get-lessons/${roomId}`);
                    const lessonData = await response.json();

                    // Check if pdfFiles is a valid array and populate PDFs
                    if (Array.isArray(lessonData.pdfFiles) && lessonData.pdfFiles.length > 0) {
                        for (const pdf of lessonData.pdfFiles) {
                            const pdfFileId = pdf.pdfFileId;
                            const listItem = document.createElement('li');
                            listItem.innerHTML = `
                                <div>
                                    <strong>${pdf.pdfFileName}</strong>
                                    <button class="btn btn-link" onclick="openPdfModal('/admin/pdf/${pdfFileId}', '${pdfFileId}', '${userId}')">
                                        Preview PDF
                                    </button>
                                    <span id="progress_${pdfFileId}">Loading progress...</span>
                                </div>
                            `;
                            pdfList.appendChild(listItem);

                            // Fetch and display initial progress
                            const progressResponse = await fetch(`/admin/lesson/get-pdf-progress/${userId}/${pdfFileId}`);
                            const progressData = await progressResponse.json();
                            const progress = progressData.progress || 0;

                            // Safely get the progress element and update it
                            const progressElement = document.getElementById(`progress_${pdfFileId}`);
                            if (progressElement) {
                                progressElement.textContent = `Progress: ${progress}%`;
                            } else {
                                console.error(`Progress element for PDF ID ${pdfFileId} not found.`);
                            }
                        }
                    } else {
                        pdfList.innerHTML = '<p>No PDFs uploaded for this lesson.</p>';
                    }

                    // Populate the Videos
                    if (Array.isArray(lessonData.videoFiles) && lessonData.videoFiles.length > 0) {
                        lessonData.videoFiles.forEach(function (video) {
                            const listItem = document.createElement('li');
                            listItem.innerHTML = `<a href="/admin/video/${video.videoFileId}" target="_blank">${video.videoFileName}</a>`;
                            videoList.appendChild(listItem);
                        });
                    } else {
                        videoList.innerHTML = '<p>No videos uploaded for this lesson.</p>';
                    }
                } catch (error) {
                    console.error('Error loading lesson files:', error);
                }
            }

            // Event listener for PDF upload form submission

            document.getElementById('uploadPdfForm').addEventListener('submit', async function(event) {
                event.preventDefault(); // Prevent default form submission

                const formData = new FormData(this);
                const roomId = document.getElementById('pdfRoomId').value;
                const userId = '<%= currentUser._id %>'; // User ID for progress tracking

                try {
                    // Upload the PDF via AJAX
                    const response = await fetch(`/admin/upload-pdf/${roomId}`, {
                        method: 'POST',
                        body: formData
                    });

                    if (response.ok) {
                        alert('PDF uploaded successfully!');
                        
                        // Reload the list of PDFs and Videos to reflect the new upload
                        loadLessonFiles(roomId, userId); 
                    } else {
                        throw new Error('Error uploading PDF');
                    }
                } catch (error) {
                    console.error('Error uploading PDF:', error);
                    alert('Error uploading PDF.');
                }
            });

            // Event listener to handle room clicks and load PDFs and Videos for the room
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('.clickable').forEach(function (roomElement) {
                    roomElement.addEventListener('click', function () {
                        const roomId = this.getAttribute('data-room-id');
                        const userId = '<%= currentUser._id %>';

                        document.getElementById('lessonRoomContent').style.display = 'block';
                        loadLessonFiles(roomId, userId);

                        // Update form actions and hidden input values with the room ID
>>>>>>> 105a85d85ef0b1c3e8ffd012cbd6e92220919f9a
                        document.getElementById('uploadPdfForm').action = `/admin/upload-pdf/${roomId}`;
                        document.getElementById('uploadVideoForm').action = `/admin/upload-video/${roomId}`;
                        document.getElementById('pdfRoomId').value = roomId;
                        document.getElementById('videoRoomId').value = roomId;
<<<<<<< HEAD

                        const pdfList = document.getElementById('uploadedPdfs');
                        const videoList = document.getElementById('uploadedVideos');

                        pdfList.innerHTML = '';
                        videoList.innerHTML = '';

                        try {
                            const response = await fetch(`/admin/get-lessons/${roomId}`);
                            const lessonData = await response.json();

                            if (lessonData.pdfFiles && lessonData.pdfFiles.length > 0) {
                                lessonData.pdfFiles.forEach(function (pdf) {
                                    const listItem = document.createElement('li');
                                    listItem.innerHTML = `<a href="/admin/pdf/${pdf.pdfFileId}" target="_blank">${pdf.pdfFileName}</a>`;
                                    pdfList.appendChild(listItem);
                                });
                            } else {
                                pdfList.innerHTML = '<p>No PDFs uploaded for this lesson.</p>';
                            }

                            if (lessonData.videoFiles && lessonData.videoFiles.length > 0) {
                                lessonData.videoFiles.forEach(function (video) {
                                    const listItem = document.createElement('li');
                                    listItem.innerHTML = `<a href="/admin/video/${video.videoFileId}" target="_blank">${video.videoFileName}</a>`;
                                    videoList.appendChild(listItem);
                                });
                            } else {
                                videoList.innerHTML = '<p>No videos uploaded for this lesson.</p>';
                            }
                        } catch (error) {
                            console.error('Error fetching lesson data:', error);
                        }

                        document.getElementById('moduleContent').style.display = 'none';
                        document.getElementById('fileContent').style.display = 'none';
=======
>>>>>>> 105a85d85ef0b1c3e8ffd012cbd6e92220919f9a
                    });
                });

                document.getElementById('moduleButton').addEventListener('click', function() {
                    document.getElementById('uploadBox').style.display = 'block';
                    document.getElementById('moduleContent').style.display = 'block';
                    document.getElementById('fileContent').style.display = 'none';
                    document.getElementById('lessonRoomContent').style.display = 'none'; // Hide lesson room content
                    adjustUploadBoxHeight();
                });

                document.getElementById('fileButton').addEventListener('click', function() {
                    document.getElementById('uploadBox').style.display = 'block';
                    document.getElementById('fileContent').style.display = 'block';
                    document.getElementById('moduleContent').style.display = 'none';
                    document.getElementById('lessonRoomContent').style.display = 'none'; // Hide lesson room content
                    adjustUploadBoxHeight();
                });
            });

<<<<<<< HEAD
            document.getElementById('uploadVideoForm').addEventListener('submit', function(event) {
                event.preventDefault();

                const formData = new FormData(this);
                const roomId = document.getElementById('videoRoomId').value;

                fetch(`/admin/upload-video/${roomId}`, {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    alert('Video uploaded successfully!');
                    const videoList = document.getElementById('uploadedVideos');
                    videoList.innerHTML = '';
                    data.videoFiles.forEach(function(video) {
                        const listItem = document.createElement('li');
                        listItem.innerHTML = `<a href="/admin/video/${video.videoFileId}" target="_blank">${video.videoFileName}</a>`;
                        videoList.appendChild(listItem);
                    });
                    updateUploadedFiles();
                })
                .catch(error => {
                    console.error('Error uploading video:', error);
                    alert('Error uploading video.');
                });
=======
        </script>

<script>
    document.getElementById('uploadVideoForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission

        const formData = new FormData(this);

        // Make sure to get the roomId from the input
        const roomId = document.getElementById('videoRoomId').value;

        fetch(`/admin/upload-video/${roomId}`, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Assuming you return JSON from the server
            } else {
                throw new Error('Network response was not ok');
            }
        })
        .then(data => {
            // Handle the successful upload here
            alert('Video uploaded successfully!');
            
            // Optionally, refresh the uploaded videos list
            const videoList = document.getElementById('uploadedVideos');
            videoList.innerHTML = ''; // Clear existing list

            data.videoFiles.forEach(function(video) {
                const listItem = document.createElement('li');
                listItem.innerHTML = `<a href="/admin/video/${video.videoFileId}" target="_blank">${video.videoFileName}</a>`;
                videoList.appendChild(listItem);
>>>>>>> 105a85d85ef0b1c3e8ffd012cbd6e92220919f9a
            });
        })
        .catch(error => {
            console.error('Error uploading video:', error);
            alert('Error uploading video.');
        });
    });
</script>


        <div class="container-fluid">
            <img src="/assets/logo.png" alt="Logo" class="img-fluid text-left mt-2" style="width: 80px;">
            <img src="/assets/mw.png" alt="MW" class="img-fluid text-right mt-4" style="width: 80px;">
        </div>
    </div>
</body>
</html>