<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Overall Summary</title>
</head>
<body>
    <div class="container">
        <h1>Overall Summary for <%= quiz.title %></h1>

        <a href="/admin/dashboard/<%= roomId %>" class="btn btn-secondary">Back to Dashboard</a>
        <a href="/admin/overallSummary/<%= quiz._id %>/export" class="btn btn-success">Export to Excel</a>
        <a href="/admin/responseFrequencies/<%= quiz._id %>" class="btn btn-info">Frequency of Responses</a>


        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Score</th>
                    <th>Attempt</th>
                    <th>Submitted At</th>
                    <th>Late Submission</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% resultData.forEach(result => { %>
                    <% 
                        const scorePercentage = (result.score / quiz.questions.length) * 100;
                        const isBelowThreshold = scorePercentage < 75;
                    %>
                    <tr>
                        <td><%= result.first_name %> <%= result.last_name %></td>
                        <td style="color: <%= isBelowThreshold ? 'red' : 'black' %>;">
                            <%= result.score %> / <%= quiz.questions.length %> points
                        </td>
                        <!-- Display the attempt number -->
                        <td><%= result.attempt %></td>
                        <td><%= new Date(result.submittedAt).toLocaleString() %></td>
                        <td><%= result.isLate ? 'Yes' : 'No' %></td>
                        <td>
                            <a href="/admin/testResult/<%= quiz._id %>/<%= result.userId %>" class="btn btn-primary">Test Result</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
